.footer {

  &__layer {
    display: flex;
    justify-content: space-around;
    padding: 3rem;

    @include media('<=651px') {
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__image {
    height: 2rem;
    width: 6rem;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;

    @include media('<=651px') {
      padding: .5rem;
      //flex-direction: row;
      column-count: 2;
    }
  }

  &__social {
    list-style-type: none;

    @include media('<=651px') {
    //  column-count: 2;
      padding: .5rem;
    }
  }

  //&__button {
  //  border: 1px solid $black;
  //  padding: .5rem 2rem .5rem 2rem;
  //
  //  &:hover {
  //    background-color: $cyan;
  //    color: $yellow;
  //  }
  //}
}

.social__link {
  display: flex;
}

.social__icon {
  margin-right: 1rem;

}
