
.nav-utility {

  &__layer {
    display: flex;
    justify-content: space-between;
  }

  &__header {
    align-items: flex-end;
    display: flex;
    padding: 1rem;
  }

  &__heading {
    font-size: .75rem;
  }

  &__image {
    height: 2rem;
    margin-right: .5rem;
    width: 6rem;
  }

  &__bar {
    align-items: center;
    display: flex;
    margin-right: 1rem;
  }

  &__link {
    display: flex;
    font-size: .75rem;
    margin: 0 1rem;
    text-align: center;

    &:last-of-type {
      background: $yellow;
      padding: .5rem;
    }
  }

  &__icon {
    margin-right: .5rem;
  }

  &__signup {
    background-color: $yellow;
    padding: .25rem;
    text-align: center;

    &:hover {
      background-color: $cyan;
      color: $yellow;
    }
  }
}
