.brief {

  &__layer {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__heading {
    margin: 3.5rem 0;
  }

  &__process {
    display: flex;
    text-align: center;
  }

  &__item {
    flex-basis: 33.33%;
    margin: 0 2.5rem;
  }

  &__subheading {
    padding-top: 1.5rem;
  }

  &__post {
    background-color: $yellow;
    font-weight: bold;
    margin: 3.5rem 0;
    padding: .5rem 2rem .5rem 2rem;
    text-align: center;

    &:hover {
      background-color: $cyan;
      color: $yellow;
    }
  }
}
