.content {

  &__layer {
    background-color: $gray;
    display: flex;
  }

  &__heading {}

  &__item {
    flex-basis: 50%;
  }

  &__list {
    column-count: 2;
    padding: 0 3rem 3rem 3rem;

    li {
      line-height: 2.5;
      list-style-type: none;

      &::before {
        content: 'º';
        margin-right: 1rem;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 3rem 3rem 3rem;
    text-align: center;
  }

  &__contact {
    padding-top: 2rem;
  }

  //&__button {
  //  background-color: $white;
  //  border: 1px solid $black;
  //  padding: .5rem 2rem .5rem 2rem;
  //  text-align: center;
  //
  //  &:hover {
  //    background-color: $cyan;
  //    color: $yellow;
  //  }
  //}

}
