.feature__layer {
  align-items: center;
  background-image: url(../img/balloon.jpg), linear-gradient(-180deg, transparent, $pic_cover);
  background-blend-mode: overlay;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 560px;
  justify-content: center;
}

.feature__icon {
  color: $white;
}

.feature__heading {
  color: $white;
  font-size: 4rem;
  line-height: 1;
  text-align: center;
}
