.gallery-studies__layer {
  display: flex;
  flex-direction: column;
}

.gallery-studies__header {
  display: flex;
  justify-content: center;
}

.gallery-studies__cases {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-studies__pic {
  flex-basis: 25%;
  position: relative;
}

.gallery-studies__pic img {
  padding: 0  3rem;
}

.gallery-studies__icon {
  color: $white;
  position: absolute;
  transform: translate(275%, -200%);
  z-index: 1;
}
