.gallery-clients {

  &__layer {
    background-color: $black;
    display: flex;
    flex-direction: column;
  }

  &__heading {
    color: $white;
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
  }

  &__logo {
    flex-basis: 33.33%;
  }

  &__image {
    fill: $white;
    height: 175px;
    object-fit: cover;
    width: 100%;
    padding: 3rem;
  }

}
