.gallery-studies {

  &__layer {
    display: flex;
    flex-direction: column;
  }

  &__heading {}

  &__cases {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__pic {
    flex-basis: 25%;
    position: relative;

    @include media('<=1275px') {
      flex-basis: 33.33%;
    }

    @include media('<=1050px') {
      flex-basis: 50%;
    }

    @include media('<=600px') {
      flex-basis: 100%;
    }
  }

  &__pic img {
    padding: 0  3rem;
  }

  &__icon {
    color: $white;
    position: absolute;
    transform: translate(275%, -200%);
    z-index: 1;
  }

}
