.pitch {

  &__layer {
    align-items: center;
    background-color: $gray;
    display: flex;
    flex-direction: column;

    @include media('<=1215px')

  }

  &__process {
    display: flex;
    text-align: center;

    @include media('<=1050px') {
      flex-direction: column;
    }
  }

  &__item {
    flex-basis: 20%;
    //padding: 3rem;
  }

  &__subheading {
    padding-top: 1.5rem;
  }

  &__p {
    padding: 1rem 3rem 3rem 3rem;
  }
}
