.january {

  &__layer {
    display: flex;
    flex-direction: column;
  }

  &__title {
    text-align: center;
  }

  &__feature {
    display: flex;
  }


  &__profile {
    display: flex;
    padding: 1rem 0;
  }

  &__pic {
    border-radius: 50%;
    height: 50px;
    object-fit: cover;
    width: 50px;
  }

  &__name {
    padding-left: .5rem;
  }

  &__subheading {
    padding: 1rem 0;
  }

  &__content {
    display: flex;
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    padding: 1rem;

    &:first-of-type {
      flex-basis: 50%;
      .january__image {
        height: 400px;
        object-fit: cover;
      }

      .january__list {
        display: none;
      }
    }
  }

  &__image {
    height: 150px;
    object-fit: cover;
  }

  &__clip {
    height: 50px;
    object-fit: cover;
    padding-right: .5rem;
  }


  &__subitem {
    display: flex;
    padding: .5rem 0;
  }

  &__ender {
    padding: 3rem;
    text-align: center;
    text-decoration: underline;
  }
}
