* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 15px;
}

img {
  height: auto;
  max-width: 100%;
}

body {
  line-height: 1.5;
  width: 100vw;
}

//Resets
a {
  text-decoration: none;
}

h2 {
  color: $white;
  font-size: 4rem;
  line-height: 1;
  text-align: center;
}

h3 {
  font-size: 2.25rem;
  margin: 3.5rem 0;
}

h4 {
  font-size: 1.25rem;
}

p {
  color: #333;
}
