@import 'normalize';
@import 'include-media';

//color variables
$gray: hsl(0deg, 5%, 90%);
$yellow: hsl(60deg, 100%, 50%);
$cyan: hsl(180deg, 100%, 50%);
$white: hsl(0deg, 0%, 100%);
$pic_cover: hsl(0deg, 0%, 20%);
$black: hsl(0deg, 0%, 0%);

* {
  // Debuggin
  //border: solid magenta 1px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 15px;
}

img {
  height: auto;
  max-width: 100%;
}

body {
  line-height: 1.5;
  width: 100vw;
}

//Resets
a {
  text-decoration: none;
}

h2 {
  color: $white;
  font-size: 4rem;
  line-height: 1;
  text-align: center;
}

h3 {
  font-size: 2.25rem;
  margin: 3.5rem 0;
}

h4 {
  font-size: 1.25rem;
}

p {
  color: #333;
}

.utility__layer {
  display: flex;
  justify-content: space-between;
}

.utility__header {
  align-items: flex-end;
  display: flex;
  padding: 1rem;
}

.utility__image {
  height: 2rem;
  margin-right: .5rem;
  width: 6rem;
}

.utility__bar {
  align-items: center;
  display: flex;
  margin-right: 1rem;
}

.utility__link {
  display: flex;
  margin: 0 1rem;
  text-align: center;
}

.utility__icon {
  margin-right: .5rem;
}

.utility__signup {
  background-color: $yellow;
  padding: .25rem;
  text-align: center;

  &:hover {
    background-color: $cyan;
    color: $yellow;
  }
}

.nav__layer {
  background-color: $gray;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.nav__link {
  align-items: center;
  display: flex;
  margin: 0 1rem;
}

.nav__search {
  align-items: center;
  display: flex;
}

.nav__search input {
  border-radius: 10px 0 0 10px;
  border-style: none;
}

.nav__mag {
  background-color: $white;
  border-radius: 0 10px 10px 0;
  margin-top: .2rem;
}

.feature__layer {
  align-items: center;
  background-image: url(../img/balloon.jpg), linear-gradient(-180deg, transparent, $pic_cover);
  background-blend-mode: overlay;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 560px;
  justify-content: center;
}

.feature__icon {
  color: $white;
}

.brief__layer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.brief__heading {
  margin: 3.5rem 0;
}

.brief__process {
  display: flex;
  text-align: center;
}

.brief__item {
  flex-basis: 33.33%;
  margin: 0 2.5rem;
}

.brief__subheading {
  padding-top: 1.5rem;
}

.brief__post {
  background-color: $yellow;
  font-weight: bold;
  margin: 3.5rem 0;
  padding: .5rem 2rem .5rem 2rem;
  text-align: center;

  &:hover {
    background-color: $cyan;
    color: $yellow;
  }
}

.content__layer {
  background-color: $gray;
  display: flex;
}

.content__item {
  flex-basis: 50%;
  margin: 3rem;
}

.content__list {
  column-count: 2;

  li {
    line-height: 2.5;
    list-style-type: none;

    &::before {
      content: 'º';
      margin-right: 1rem;
    }
  }
}

.content__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.content__contact {
  padding-top: 2rem;
}

.content__button {
  background-color: $white;
  border: 1px solid $black;
  padding: .5rem 2rem .5rem 2rem;
  text-align: center;

  &:hover {
    background-color: $cyan;
    color: $yellow;
  }
}

.studies__layer {
  display: flex;
  flex-direction: column;
}

.studies__header {
  display: flex;
  justify-content: center;
}

.studies__cases {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 3rem;
}

.studies__pic {
  flex-basis: 21%;
  position: relative;
}

.studies__icon {
  color: $white;
  position: absolute;
  transform: translate(200%, -200%);
  z-index: 1;
}

.pitch__layer {
  align-items: center;
  background-color: $gray;
  display: flex;
  flex-direction: column;
}

.pitch__process {
  display: flex;
  text-align: center;
}

.pitch__item {
  flex-basis: 20%;
  margin: 0 2.5rem 3rem 2.5rem;
}

.pitch__subheading {
  padding-top: 1.5rem;
}

.client__layer {
  background-color: $black;
  display: flex;
  flex-direction: column;
}

.client__header {
  color: $white;
  display: flex;
  justify-content: center;
}

.client__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}

.client__logo {
  flex-basis: 26%;
}

.client__image {
  fill: $white;
  height: 175px;
  object-fit: cover;
  width: 100%;
  margin: 1.5rem 0;
}
