.content__layer
  .content__item
    h3(class="content__heading") Get video content for any platform
    ul(class="content__list")
      li Social Media Video
      li Instagram and Vines
      li Branded Entertainment
      li Online Video Ads
      li Social Media Video
      li Instagram and Vines
      li Branded Entertainment
      li Online Video Ads
  .content__item(class="content__right")
    h3(class="content__heading") Let's do this together
    p Schedule a call with us, we will assist you for creating your project. For any questions, call us:
    h4(class="content__subheading") +44 7521775530
    .content__contact
      a(href="#" class="content__button") Contact us
