.gallery-clients__layer
  //-.gallery-clients__header
  h3(class="gallery-clients__heading")=galleryclients.heading
  .gallery-clients__gallery
    for item in galleryclients.items
      .gallery-clients__logo !{item.svg}
