.pitch__layer
  //-.pitch__header
  h2(class="pitch__heading")=pitch.heading
  .pitch__process
    each item in pitch.items
      .pitch__item
        icon(name="#{item.icon}" size="l" class="pitch__icon")
        h3(class="pitch__subheading")=item.head
        p=item.text
