.footer__layer
  
  img(src="../img/ferrari.jpg" class="footer__image")
    
  ul(class="footer__nav")
    li: a(href="#" class="footer__link") About
    li: a(href="#" class="footer__link") Work
    li: a(href="#" class="footer__link") Services
    li: a(href="#" class="footer__link") Contacts
    
  ul(class="footer__social")
    li: a(href="#" class="social__link"): icon(name="ei-sc-facebook" size="s") Facebook
    li: a(href="#" class="social__link"): icon(name="ei-sc-twitter" size="s") Twitter
    li: a(href="#" class="social__link"): icon(name="ei-sc-pinterest" size="s") Pinterest
    li: a(href="#" class="social__link"): icon(name="ei-sc-vimeo" size="s") Vimeo
    
  a(href="#" class="footer__button") Join Newsletter
