.january__layer
  .january__title
    h3(class="january__heading") Hottest January playlists
    a(href="#" class="january__button") Follow
  .january__feature
    .january__left
      .january__profile
        img(src="../img/jim.jpg" class="january__pic")
        h5(class="january__name") Jim Gaffigan
      img(src="../img/chris.jpg" class="january__video")
      h4(class="january__subheading") Title of the playlist here
      p(class="january__text")  Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .january__right
      .january__1st 
        .january__profile
          img(src="../img/joe.jpg" class="january__pic")
          h5(class="january__name") Jim Carey
        img(src="../img/kevin.jpg" class="january__image")
        h4(class="january__subheading") Title of the playlist
        p(class="january__text")  Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .january__item
          .january__subitem
            img(src="../img/tracy.jpg" class="january__clip")
            .january__caption
              h5(class="january__label") Title of the video
              h6(class="january__call") Tracy Morgan
          .january__subitem
            img(src="../img/terry.jpg" class="january__clip")
            .january__caption
              h5(class="january__label") Title of the video
              h6(class="january__call") Terry Cruz
          .january__subitem
            img(src="../img/will.png" class="january__clip")
            .january__caption
              h5(class="january__label") Title of the video
              h6(class="january__call") Will Ferrell
      .january__2nd
        .january__profile
          img(src="../img/carey.jpg" class="january__pic")
          h5(class="january__name") Kevin Hart
        img(src="../img/water.jpg" class="january__image")
        h4(class="january__subheading") Title of the playlist
        p(class="january__text")  Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .january__item
          .january__subitem
            img(src="../img/tracy.jpg" class="january__clip")
            .january__caption
              h5(class="january__label") Title of the video
              h6(class="january__call") Tracy Morgan
          .january__subitem
            img(src="../img/terry.jpg" class="january__clip")
            .january__caption
              h5(class="january__label") Title of the video
              h6(class="january__call") Terry Cruz
          .january__subitem
            img(src="../img/will.png" class="january__clip")
            .january__caption
              h5(class="january__label") Title of the video
              h6(class="january__call") Will Ferrell
  .january__ender
    a(href="#" class="january__check") Check out more playlist
